.gde {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.gde__page {
  width: 95% !important;
}

.gde__files {
  width: 70%;
}

.gde__file {
  display: none;
}

.gde__file--active {
  display: block;
}

.gde > .gde__files > .gde__file--active {
  margin: 0;
}

.gde__header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 43px;
  font-weight: bold;
  background-color: #FAFBFC;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #e1e4e8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.gde__container {
  background-color: '#fafbfc';
  width: 28%;
  order: -1;
  margin-right: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  overflow-x: scroll;
}

.gde__nested-files {
  padding-left: 10px;
  list-style: none;
  cursor: pointer;
}

.gde__nested-files > * {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.gde__item {
  cursor: pointer;
  user-select: none;
  color: #444;
  display: flex;
  justify-content: left;
  align-items: center;
}

.gde__item:hover {
  color: #333;
}

.gde__item:hover > .gde__file-icon > svg {
  fill: rgba(0,0,0,0.5);
}

.gde__item--active {
  font-weight: bold;
  color: #4cce66;
}

.gde__item--active > .gde__file-icon > svg {
  fill: #4cce66;
}

.gde__item--active:hover > .gde__file-icon > svg {
  fill: #36BC53;
}

.gde__item--active:hover {
  color: #36BC53;
}

.gde__folder-closed + .gde__nested-files {
  display: none;
}

.gde__icon {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.gde__icon > svg {
  width: 14px;
  fill: rgba(0,0,0,0.15);
}

.gde__file-icon > svg {
  height: 14px;
}

.gde__folder-header {
  display: flex;
  justify-content: left;
  align-items: center;
  user-select: none;
  padding: 1px 0;
}

.gde__folder-header:hover > span > svg {
  fill: rgba(0,0,0,0.75);
}

.gde__caret-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
}

.gde__caret-icon > svg {
  width: 12px;
  height: 12px;
  fill: rgba(0,0,0,0.15);
}